@mixin textCommon(
  $color: $content_color,
  $size: 20px,
  $line-height: 23px,
  $font-weight: bold
) {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: $font-weight;
  font-size: $size;
  line-height: $line-height;
  color: $color;
}

.dash-text {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 11px;
    left: -70px;
    width: 60px;
    height: 3px;
    border-radius: 12px;
    background-color: $background_danger;
  }
}
