.footer-container {
  position: relative;
  background: url('./../images/background-footer.png') bottom, $background_white;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 100px 0 50px 0;
  .footer-content {
		position: relative;
    display: flex;
		align-items: center;
		&::after{
			position: absolute;
			content: '';
			height: 1px;
			background-color: $background_white;
			width: calc(100% - 187px);
			bottom: 0;
			right: 0;
		}
  }
  .item {
    position: relative;
    width: 25%;
    text-align: center;
		&::after {
			content: '';
			height: 100px;
			width: 1px;
			position: absolute;
			right: 0;
			top: 50%;
			transform: translate(0, -50%);
			background-color: $background_white;

		}
    span {
      font-size: 36px;
      color: $text_white;
    }
    .normal {
      @include textCommon($text_white, 14px, 16px, 500);
      margin-top: 10px;
    }
    img {
      width: 100px;
    }
  }
}
