.banner-container {
  position: relative;
  background-image: url('./../images/background-banner.png');
  background-size: 100% 100%;
  height: 100vh;
  .banner-content {
    position: absolute;
    left: 70px;
    top: 50%;
    transform: translate(0%, -50%);
    ::selection {
      color: $background_danger;
    }
  }
  .title-normal {
    @include textCommon($content_color, 20px, 23px, normal);
  }
  .title-large {
    @include textCommon($content_color, 35px, 41px, normal);
  }
  .button {
    background-color: $background_danger;
    border: none;
    padding: 16px 36px;
    @include textCommon($text_white, 17px, 20px, normal);
    border-radius: 25px;
    margin-top: 20px;
    box-shadow: 0 0 10px -2px rgba($color: #000000, $alpha: 0.5);
  }
  .banner-image {
    position: absolute;
    top: 95px;
    right: 0;
    width: 50%;
    height: 50vh;
    ::selection {
      background-color: transparent;
    }
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .about-container {
    width: 350px;
    position: absolute;
    bottom: -170px;
    left: 20%;
    transform: translate(0, -20%);
    z-index: 1;
    .title-normal {
      @include textCommon($content_color, 22px, 26px, 500);
      width: 200px;
      word-wrap: break-word;
    }
    .normal {
      @include textCommon($content_color, 17px, 23px, 300);
      margin: 10px 0;
    }
  }
}
