<!DOCTYPE html>
<html lang="vi">
  <head>
    <!-- include head.html -->
    @@include('../layouts/head.html', { "title": "Demo" })
    <!-- include styles.html -->
    @@include('../layouts/styles.html')
  </head>

  <body>
    <div class="wrapper">
      <!-- include header.html -->
      @@include('../layouts/header.html')
      <main class="main">
        <div class="container-fluid">
          <div class="container">
            <div class="login-content">
              <div class="login-container">
                <div class="login">
                  <div class="">
                    <h1 class="header">Welcome back!</h1>
                    <p class="subtitle">Please login to continue</p>
                  </div>

                  <div class="">
                    <div class="form-input">
                      <label for="email" class="label"> Email address </label>
                      <input id="email" type="text" class="input" />
                    </div>
                    <div class="form-input">
                      <label for="password" class="label"> Password </label>
                      <input id="password" type="password" class="input" />
                    </div>
                    <div class="login-btn">
                      <button class="button">Button Text</button>
                    </div>
                    <div class="forgot-password-text">forgot password?</div>
                    <div class="sign-up-text">Sign up</div>
                  </div>
                </div>
              </div>
              <div class="left-panel left-image">
                <div class="text-container text">
                  <p>scratch</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <!-- include footer.html -->
      @@include('../layouts/footer.html')
    </div>
    <!-- include scripts.html -->
    @@include('../layouts/scripts.html')
  </body>
</html>
