<!DOCTYPE html>
<html lang="vi">
  <head>
    @@include('../layouts/head.html', { "title": "Demo" })
    @@include('../layouts/styles.html')
  </head>
  <body>
    <div class="wrapper">
      <main class="main">
          <div class="card-login-container">
            <div class="login-content">
              <div class="login-container">
                <div class="login">
                  <div class="header-text-container">
                    <h1 class="header">Welcome back!</h1>
                    <p class="subtitle">Please login to continue</p>
                  </div>
                  <div>
                    <div class="form-input">
                      <label for="email" class="label"> Email address </label>
                      <input id="email" type="text" class="input" />
                    </div>
                    <div class="form-input">
                      <label for="password" class="label"> Password </label>
                      <input id="password" type="password" class="input" />
                    </div>
                    <div class="login-btn-container">
                      <button class="button">Button Text</button>
                    </div>
                    <div class="footer-text">
                    <a href = "#" class="forgot-password-text">Forgot password?</a>
                    <div class="signup-btn-container">
                    <button class="signup-btn">Sign up</button>
                  </div>
                  </div>
                  </div>
                </div>
              </div>
              <div class="image-login">
                <div class="text-container text">
                  <p>scratch</p>
                </div>
              </div>
            </div>
          </div>
      </main>
    </div>
    @@include('../layouts/scripts.html')
  </body>
</html>
