<section class="banner-container banner-main">
  <div class="banner-introduce cover-image">
    <div class="slider-banner-introduce">
      <div class="slider-item">
        <div class="images">
          <img src="@@banner" />
          <div class="content-banner-introduce">
            <h3 class="title-hero-banner wow fadeInLeft" data-wow-delay="1s" data-wow-duration="1s">
              @@tieude
            </h3>
            <h3 class="title-logo wow fadeInLeft" data-wow-delay="1s" data-wow-duration="1s">
              @@description
            </h3>
          </div>
        </div>
      </div>
      <div class="slider-item">
        <div class="images">
          <img src="./images/banner_1.png" />
          <div class="content-banner-introduce">
            <h3 class="title-hero-banner wow fadeInDown" data-wow-duration="3s">
              @@tieude
            </h3>
            <h3 class="title-logo wow fadeInUp" data-wow-duration="3s">
              @@description
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</section>
