<div class="banner-container">
  <div class="banner-content">
    <h5 class="title-normal wow fadeInUp">MAKING BIG IDEAS A REALITY</h5>
    <h3 class="title-large wow fadeInUp" data-wow-delay="0.25s">
      IS WHAT WE DO, EVERY DAY
    </h3>
    <button
      class="button waves-effect waves-light wow fadeInUp"
      data-wow-delay="0.5s"
    >
      Check us out
    </button>
  </div>
  <div class="banner-image">
    <img
      src="images/image-banner.png"
      alt=""
      class="img wow fadeInRight"
      data-wow-duration="2s"
    />
  </div>
  <div class="about-container">
    <h5 class="title-normal dash-text wow fadeInUp">ABOUT LITTLESHOVELS</h5>
    <p class="normal wow fadeInUp">
      We build everything, from the smallest landing page, to the largest apps.
      And all of the marketing and e-commerce solutions in between. If you can
      imagine it, we can build it!
    </p>
    <p class="normal wow fadeInUp">
      Look… it’s not rocket science, it’s computer science and there is a
      correct way to do things.
    </p>
    <p class="normal wow fadeInUp">
      An understanding of the goal, how much it’s going to cost and how long
      it’s going to take.
    </p>
  </div>
</div>
