<div class="product-item row align-items-center">
	<div class="col-lg-6">
		<div class="product-content">
			<h3 class="wow fadeInLeft" data-wow-delay="1s" data-wow-duration="1s">@@title</h3>
			<hr class="wow slideInWidth" data-wow-delay="1s" data-wow-duration="1s" />
			<div class="list-info wow fadeInUp" data-wow-delay="1.5s" data-wow-duration="1s">
				<div class="item" data-animation="fadeInUp" data-delay="2s" data-durantion="1s">
					<h5 class="title">Chủ đầu tư:</h5>
					<p class="description">
						Công ty Cổ phần Tập Đoàn Đất Quảng.
					</p>
				</div>
				<div class="item" data-animation="fadeInUp" data-delay="2s" data-durantion="1s">
					<h5 class="title">Vị trí:</h5>
					<p class="description">Khu đô thị mới Điện Nam - Điện Ngọc, phường Điện Nam,Thị xã Điện Bàn tỉnh Quảng Nam</p>
				</div>
				<div class="item" data-animation="fadeInUp" data-delay="2s" data-durantion="1s">
					<h5 class="title">Quy mô:</h5>
					<p class="description">
						48.000 m2
					</p>
				</div>
			</div>
			<hr class="wow slideInWidth" data-wow-delay="1s" data-wow-duration="1s" />
			<p class="truncate-overflow wow fadeInUp" data-wow-delay="1.5s" data-wow-duration="1s">
				Là một trong những khu đô thị hiện đại bậc nhất Đà Nẵng,
				Green Beach được đầu tư quy mô và xây dựng trên vị trí
				vàng của thành phố Đà Nẵng, hội tụ đầy đủ những yếu tố
				để trở thành nơi sinh sống, đẳng cấp với đầy đủ những
				điều kiện về cảnh quan, ...
			</p>
			<a href="chi-tiet-du-an.html" class="wow fadeInUp" data-wow-delay="1s" data-wow-duration="1s"> Xem chi tiết</a>
		</div>
	</div>
	<div class="col-lg-6">
		<div class="product-image wow fadeInRight" data-wow-delay="1s" data-wow-duration="1s">
			<img src="@@img" alt="" class="img wow fadeIn" data-wow-delay="1s" data-wow-duration="1s" />
		</div>
	</div>
</div>
