<div>
  <h5 class="title-normal dash-text wow fadeInUp">@@title</h5>
  <p class="normal wow fadeInUp">
    Scalable fixed cost development where resources and scope are carefully
    defined by our questions three.
  </p>
  <p class="normal wow fadeInUp">
    What are you after? Can we draw it so that anyone can understand it? What
    are the chunks we can break it down into?
  </p>
  <p class="normal wow fadeInUp">
    What more can you ask, when you need a core team of experts yesterday.
  </p>
</div>
