@include breakpoint(767) {
  .dash-text {
    &::before {
      left: -25px;
      width: 20px;
    }
  }
  .banner-container {
    height: auto;
    background-image: unset;
    background-color: $background_white;
    .banner-content {
      position: relative;
      left: unset;
      top: unset;
      transform: unset;
      padding: 100px 10px 20px 10px;
      text-align: center;
    }
    .title-normal {
      font-size: 17px;
      line-height: 20px;
    }
    .title-large {
      font-size: 24px;
      line-height: 28px;
    }
    .about-container {
      position: relative;
      bottom: unset;
      left: unset;
      width: 100%;
      transform: unset;
      padding: 20px 30px;
      background-image: url('./../images/image-about.png');
      background-repeat: no-repeat;
      background-position: left top;
      background-size: contain;
    }
    .banner-image {
      position: relative;
      top: unset;
      height: auto;
      width: 100%;
      margin: 20px 0;
    }
  }
  .contact-container {
    background-image: unset;
    background-color: $background_white;
    height: auto;
    .box-arrow-slick {
      position: absolute;
      bottom: unset;
      left: 0;
      width: 100%;
      top: -60%;
      display: flex;
      justify-content: space-between;
    }
    .understand-container {
      position: relative;
      width: 100%;
      left: unset;
      padding: 10px 30px;
      .slick-dots {
        position: relative;
        left: unset;
        top: unset;
        width: auto;
        transform: unset;
        bottom: unset;
        display: flex;
        justify-content: center;
        margin: 20px 0;
        li {
          margin: 0px 8px;
          width: unset;
          height: unset;
          button {
            background-color: #fafafa;
          }
        }
      }
    }
    .contact-image {
      position: relative;
      width: 100%;
      height: auto;
      bottom: unset;
      right: unset;
      margin: 20px 0px;
      padding: 30px;
    }
    .group-contact {
      position: relative;
      top: unset;
      right: unset;
      margin-bottom: 50px;
    }
    .things-container {
      position: relative;
      top: unset;
      width: 100%;
      transform: unset;
      left: unset;
      margin: 40px 0 20px 0;
      .title-large {
        font-size: 20px;
        line-height: 23px;
      }
    }
  }
  .architect-container {
    position: relative;
    height: auto;
    background-image: unset;
    background-color: $background_white;
    padding: 50px 0 10px 0;
    .content-center {
      position: relative;
      left: unset;
      width: 80%;
      top: unset;
      transform: unset;
      margin: 0 auto;
      &::before {
        top: -40px;
      }
    }
    .architect-content {
      position: relative;
      right: unset;
      bottom: unset;
      width: 100%;
      padding: 20px 30px;
      .title-large {
        font-size: 22px;
        line-height: 26px;
      }
    }
    .architect-image {
      position: relative;
      left: unset;
      bottom: unset;
      width: 80%;
      margin: auto;
    }
  }
  .prototype-container {
    height: auto;
    background-image: unset;
    background-color: $background_white;
    .prototype-image {
      position: relative;
      right: unset;
      height: auto;
      width: 90%;
      bottom: unset;
      margin: auto;
    }
    .prototype-content {
      position: relative;
      left: unset;
      width: 100%;
      bottom: unset;
      padding: 20px 30px;
      .title-large {
        font-size: 22px;
        line-height: 26px;
      }
    }
  }
  .engineer-container {
    height: auto;
    background-image: unset;
    background-color: $background_white;
    padding: 50px 0 10px 0;
    .engineer-image {
      position: relative;
      left: unset;
      width: 100%;
      bottom: unset;
      padding: 0 10px;
      margin: auto;
    }
    .engineer-content {
      position: relative;
      right: unset;
      width: 100%;
      top: unset;
      transform: unset;
      padding: 20px 30px;
      .title-large {
        font-size: 22px;
        line-height: 26px;
        color: $content_color;
      }
      .normal {
        color: $content_color;
      }
    }
  }
  .construct-container {
    background-color: $background_white;
    height: auto;
    background-image: unset;
    .construct-image {
      position: relative;
      top: unset;
      right: unset;
      width: 90%;
      margin: auto;
    }
    .construct-content {
      position: relative;
      left: unset;
      top: unset;
      width: 100%;
      padding: 20px 30px;
      .title-large {
        font-size: 22px;
        line-height: 26px;
      }
    }
    .quality-image {
      position: relative;
      left: unset;
      width: 100%;
      bottom: unset;
    }
    .quality-content {
      position: relative;
      right: unset;
      bottom: unset;
      width: 100%;
      padding: 20px 30px;
    }
  }
  .our-container {
    height: auto;
    background-image: unset;
    background-color: $background_white;
    padding: 60px 0 10px 0;
    .our-heading {
      position: relative;
      left: unset;
      width: 100%;
      top: unset;
      transform: unset;
      margin-bottom: 10px;
    }
    .our-image {
      display: none;
    }
    .project-container {
      position: relative;
      bottom: unset;
      width: 100%;
      left: unset;
      transform: unset;
    }
    .slider-projects {
    }
    .box-arrow-slick {
      justify-content: center;
      top: 50%;
      z-index: 2;
    }
    .project-item {
      flex-direction: column;
      .image {
        width: 100%;
        background-image: url('./../images/background-our-mobile.png');
      }
      .content {
        width: 100%;
        padding: 20px 30px;
      }
      .title-name {
        color: $content_color;
      }
      .title-large {
        color: $content_color;
      }
      .normal {
        color: $content_color;
      }
    }
  }
  .footer-container {
    padding: 20px 0 10px 0;
    .footer-content {
      position: relative;
      display: flex;
      align-items: center;
      &::after {
        display: none;
      }
    }
    .item {
      overflow: hidden;
      &::after {
        display: none;
      }
      span {
        font-size: 20px;
      }
      .normal {
        @include textCommon($text_white, 10px, 12px, 500);
        margin-top: 10px;
      }
      img {
        width: 40px;
      }
    }
  }

  .squad-container {
    position: relative;
    background-color: #5e5e5e;
    padding: 100px 0;
    .title-large {
      text-align: center;
      @include textCommon($text_white, 30px, 35px, 500);
      margin-bottom: 30px;
    }
    .box-arrow-slick {
      display: flex;
    }
  }
}
