<footer class="footer-container">
  <div class="container-fluid">
    <div class="row flex-lg-row flex-column-reverse">
      <div class="col-lg-6 mt-lg-0 mt-4">
        <h3 class="title">CÔNG TY CỔ PHẦN ĐỊA ỐC FIRST REAL</h3>
        <div class="list-info">
          <div class="item">
            <p class="label">Địa chỉ:</p>
            <p class="description">
              Tầng 5 Khu văn phòng – Khu phức hợp khách sạn Bạch Đằng, 50 Bạch
              Đằng, P. Hải Châu I, Q. Hải Châu, TP Đà Nẵng, Việt Nam
            </p>
          </div>
          <div class="item">
            <p class="label">Điện thoại:</p>
            <p class="description">02363.616.767</p>
          </div>
          <div class="item">
            <p class="label">Email:</p>
            <p class="description">hotro@fir.vn</p>
          </div>
          <div class="item">
            <p class="label">Theo dõi</p>
            <div class="list-social">
              <a href="#" target="_blank" class="link"><span class="icon-facebook"></span></a>
              <a href="#" target="_blank" class="link"><span class="icon-youtube"></span></a>
              <a href="#" target="_blank" class="link"><span class="icon-google"></span></a>
              <a href="#" target="_blank" class="link"><span class="icon-twiter"></span></a>
              <a href="#" target="_blank" class="link"><span class="icon-in"></span></a>
            </div>
          </div>
        </div>
        <p class="copyright">© 2016 bởi http://fir.vn</p>
      </div>
      <div class="col-lg-6">
        <div class="menu-footer">
          <h3 class="title">Liên kết nhanh</h3>
          <div class="list-link">
            <a href="#" class="link">Trang chủ</a>
            <a href="#" class="link">Giới thiệu</a>
            <a href="#" class="link">Dự án</a>
            <a href="#" class="link">Quan hệ cổ đông</a>
            <a href="#" class="link">Tin tức</a>
            <a href="#" class="link">Thư viện</a>
            <a href="#" class="link">Liên hệ </a>
          </div>
        </div>
        <h3 class="title mt50">NHẬN BẢN TIN DỰ ÁN</h3>
        <form action="" class="form">
          <select class="select">
            <option>Khu biệt thự nghỉ dưỡng</option>
            <option>Khu biệt thự nghỉ dưỡng 1</option>
            <option>Khu biệt thự nghỉ dưỡng 2</option>
          </select>
          <input type="text" class="input" placeholder="Email của bạn" />
          <button type="submit" class="button">
            <img src="./images/vector-next-button.png" alt="" class="icon" />
          </button>
        </form>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</footer>